body {
    background-color: #f5f5dc; /* Beige claro */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: rgb(216, 133, 63);
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    background-color: rgba(223, 207, 153, 0.8);
    color: rgb(224,180,74) !important;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    color: white;
}

.container-main {
    background-color: rgba(255, 248, 220, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

footer {
    background-color: rgba(216, 133, 63, 0.8);
    color: white;
}

.btn, button {
    background-color: rgb(224,180,74) !important;
    color: white !important;
    border: none !important;
}

.btn:hover, button:hover {
    background-color: #ffdead !important;
    color: rgb(216, 133, 63) !important;
}

a {
    color: rgb(216, 133, 63) !important;
}

a:hover {
    color: #ffdead !important;
    text-decoration: underline !important;
}

.btn-spacing {
    margin-right: 10px;
}
